In [4]:
%load_ext autoreload
%autoreload 2

import pandas as pd 

PA75016_df = pd.read_csv("../../data/pollution/2_Processed/PA75016.csv").copy()
PA75016_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,Date_time,PM25,PM10,NO2,O3,SO2,Station_name,Station_type
0,2018/01/01 01:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
1,2018/01/01 02:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
2,2018/01/01 03:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
3,2018/01/01 04:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
4,2018/01/01 05:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
...,...,...,...,...,...,...,...,...
42571,2022/11/14 20:00:00+00,14.5,18.8,41.5,NaN,NaN,75016 - Porte Auteuil,Traffic
42572,2022/11/14 21:00:00+00,NaN,NaN,34.5,NaN,NaN,75016 - Porte Auteuil,Traffic
42573,2022/11/14 22:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
42574,2022/11/14 23:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
42575,2022/11/15 00:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic

In [5]:
from workflow.preprocessing import preprocess

df = preprocess(PA75016_df)

df

,PM25,PM10,NO2,ATMO,sin_Month,cos_Month,sin_day,cos_day,confinement,Pollution_peak
Date_time,,,,,,,,,,
2018-01-01,0.000000,-0.001422,-0.732394,4,0.000000,1.0,-0.781831,0.623490,0,0
2018-01-02,0.000000,-0.001422,-0.732394,4,0.000000,1.0,0.000000,1.000000,0,0
2018-01-03,0.000000,-0.001422,-0.732394,4,0.000000,1.0,0.781831,0.623490,0,0
2018-01-04,0.000000,-0.001422,-0.732394,4,0.000000,1.0,0.974928,-0.222521,0,0
2018-01-05,0.000000,-0.025605,-0.510563,4,0.000000,1.0,0.433884,-0.900969,0,0
...,...,...,...,...,...,...,...,...,...,...
2022-11-09,-0.562911,-0.504979,-0.517606,4,-0.866025,0.5,0.781831,0.623490,0,0
2022-11-10,-0.633635,0.012802,-0.278169,4,-0.866025,0.5,0.974928,-0.222521,0,0
2022-11-11,-1.473684,-0.315789,-0.880282,3,-0.866025,0.5,0.433884,-0.900969,0,0
2022-11-12,-0.908306,1.544808,1.109155,3,-0.866025,0.5,-0.433884,-0.900969,0,0
2022-11-13,-1.122122,1.684211,1.014085,3,-0.866025,0.5,-0.974928,-0.222521,0,0

In [6]:
df['ATMO'].value_counts()

4    899
5    721
3    155
Name: ATMO, dtype: int64