In [2]:
%load_ext autoreload
%autoreload 2

import pandas as pd 

PA75016_df = pd.read_csv("../../data/pollution/2_Processed/PA75016.csv").copy()
PA75016_df = PA75016_df[:-25]
PA75016_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,Date_time,PM25,PM10,NO2,O3,SO2,Station_name,Station_type
0,2018/01/01 01:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
1,2018/01/01 02:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
2,2018/01/01 03:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
3,2018/01/01 04:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
4,2018/01/01 05:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
...,...,...,...,...,...,...,...,...
42546,2022/11/13 19:00:00+00,18.5,18.2,35.4,NaN,NaN,75016 - Porte Auteuil,Traffic
42547,2022/11/13 20:00:00+00,18.8,21.8,29.6,NaN,NaN,75016 - Porte Auteuil,Traffic
42548,2022/11/13 21:00:00+00,19.4,29.9,32.1,NaN,NaN,75016 - Porte Auteuil,Traffic
42549,2022/11/13 22:00:00+00,22.8,23.2,29.4,NaN,NaN,75016 - Porte Auteuil,Traffic
42550,2022/11/13 23:00:00+00,20.8,20.9,30.1,NaN,NaN,75016 - Porte Auteuil,Traffic

In [8]:
from workflow.preprocessing import preprocess

df = preprocess(PA75016_df)

df

,Date_time,PM25,PM10,NO2,ATMO,sin_Month,cos_Month,sin_day,cos_day,confinement,Pollution_peak
0,2018-01-01,0.000000,-0.001423,-0.732394,4,0.000000,1.0,-0.781831,0.623490,0,0
1,2018-01-02,0.000000,-0.001423,-0.732394,4,0.000000,1.0,0.000000,1.000000,0,0
2,2018-01-03,0.000000,-0.001423,-0.732394,4,0.000000,1.0,0.781831,0.623490,0,0
3,2018-01-04,0.000000,-0.001423,-0.732394,4,0.000000,1.0,0.974928,-0.222521,0,0
4,2018-01-05,0.000000,-0.025614,-0.510563,4,0.000000,1.0,0.433884,-0.900969,0,0
...,...,...,...,...,...,...,...,...,...,...,...
1769,2022-11-08,-1.240584,-0.618997,-0.809859,3,-0.866025,0.5,0.000000,1.000000,0,0
1770,2022-11-09,-0.563490,-0.505158,-0.517606,4,-0.866025,0.5,0.781831,0.623490,0,0
1771,2022-11-10,-0.634287,0.012807,-0.278169,4,-0.866025,0.5,0.974928,-0.222521,0,0
1772,2022-11-11,-1.475201,-0.315902,-0.880282,3,-0.866025,0.5,0.433884,-0.900969,0,0
1773,2022-11-12,-0.947108,1.374600,1.109155,3,-0.866025,0.5,-0.433884,-0.900969,0,0