In [54]:
# Data manipulation
import numpy as np
import pandas as pd
pd.set_option("display.max_columns", None)

# Data Visualiation
import matplotlib.pyplot as plt
import seaborn as sns

# System
import os

# Deep Learning
import tensorflow as tf

# Checking data types
from typing import Dict, List, Tuple, Sequence
import string

In [55]:
%load_ext autoreload
%autoreload 2

import pandas as pd 

PA75016_df = pd.read_csv("../data/pollution/2_Processed/PA75016.csv").copy()
PA75016_df

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

,Date_time,PM25,PM10,NO2,O3,SO2,Station_name,Station_type
0,2018/01/01 01:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
1,2018/01/01 02:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
2,2018/01/01 03:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
3,2018/01/01 04:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
4,2018/01/01 05:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
...,...,...,...,...,...,...,...,...
42571,2022/11/14 20:00:00+00,14.5,18.8,41.5,NaN,NaN,75016 - Porte Auteuil,Traffic
42572,2022/11/14 21:00:00+00,NaN,NaN,34.5,NaN,NaN,75016 - Porte Auteuil,Traffic
42573,2022/11/14 22:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
42574,2022/11/14 23:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic
42575,2022/11/15 00:00:00+00,NaN,NaN,NaN,NaN,NaN,75016 - Porte Auteuil,Traffic

In [56]:
PA75016_df[PA75016_df['PM25']== 193.0]

,Date_time,PM25,PM10,NO2,O3,SO2,Station_name,Station_type
6022,2018/09/08 23:00:00+00,193.0,253.0,167.0,NaN,9.0,75016 - Porte Auteuil,Traffic

In [57]:
from workflow.preprocessing import preprocess

df = preprocess(PA75016_df)

You have dropped O3 with 100.0 % of NA
You have dropped SO2 with 40.203520481304786 % of NA
DataFrame is processed, you can play with it !

In [58]:
df['ATMO'].value_counts()

0    1762
1      13
Name: ATMO, dtype: int64

In [46]:
from sklearn.metrics import confusion_matrix

In [5]:
def encoder(df):
    list_categorical = ["PM25","PM10","NO2","O3","SO2"]
    list_categorical_actual = []


    for element in df.columns:
        if element in list_categorical:
            list_categorical_actual.append(element)
    #on veut appliquer une fonction sur plusieurs Ã©lements
    #if

    df["ATM"] = df[list_categorical_actual].max(axis=1)
    return df

In [14]:
df = encoder(df)
df

,PM25,PM10,NO2,ATMO,sin_Month,cos_Month,sin_day,cos_day,confinement,Pollution_peak,ATM,max
Date_time,,,,,,,,,,,,
2018-01-01,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,-0.781831,0.623490,0,0,-0.001422,-0.001422
2018-01-02,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.000000,1.000000,0,0,-0.001422,-0.001422
2018-01-03,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.781831,0.623490,0,0,-0.001422,-0.001422
2018-01-04,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.974928,-0.222521,0,0,-0.001422,-0.001422
2018-01-05,-0.025605,-0.131895,-0.840686,1,0.000000,1.0,0.433884,-0.900969,0,0,-0.025605,-0.025605
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-09,-0.504979,-0.603390,-0.507353,1,-0.866025,0.5,0.781831,0.623490,0,0,-0.504979,-0.504979
2022-11-10,0.012802,-0.389522,-0.465686,1,-0.866025,0.5,0.974928,-0.222521,0,0,0.012802,0.012802
2022-11-11,-0.315789,-0.951002,-1.296569,1,-0.866025,0.5,0.433884,-0.900969,0,0,-0.315789,-0.315789
2022-11-12,1.544808,0.395069,-0.205882,2,-0.866025,0.5,-0.433884,-0.900969,0,0,1.544808,1.544808
2022-11-13,1.684211,0.234206,-0.786765,2,-0.866025,0.5,-0.974928,-0.222521,0,0,1.684211,1.684211

In [11]:
df['max'] = df[['PM25','PM10','NO2']].max(axis=1)

In [12]:
df

,PM25,PM10,NO2,ATMO,sin_Month,cos_Month,sin_day,cos_day,confinement,Pollution_peak,ATM,max
Date_time,,,,,,,,,,,,
2018-01-01,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,-0.781831,0.623490,0,0,-0.001422,-0.001422
2018-01-02,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.000000,1.000000,0,0,-0.001422,-0.001422
2018-01-03,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.781831,0.623490,0,0,-0.001422,-0.001422
2018-01-04,-0.001422,-0.048074,-0.840686,1,0.000000,1.0,0.974928,-0.222521,0,0,-0.001422,-0.001422
2018-01-05,-0.025605,-0.131895,-0.840686,1,0.000000,1.0,0.433884,-0.900969,0,0,-0.025605,-0.025605
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-11-09,-0.504979,-0.603390,-0.507353,1,-0.866025,0.5,0.781831,0.623490,0,0,-0.504979,-0.504979
2022-11-10,0.012802,-0.389522,-0.465686,1,-0.866025,0.5,0.974928,-0.222521,0,0,0.012802,0.012802
2022-11-11,-0.315789,-0.951002,-1.296569,1,-0.866025,0.5,0.433884,-0.900969,0,0,-0.315789,-0.315789
2022-11-12,1.544808,0.395069,-0.205882,2,-0.866025,0.5,-0.433884,-0.900969,0,0,1.544808,1.544808
2022-11-13,1.684211,0.234206,-0.786765,2,-0.866025,0.5,-0.974928,-0.222521,0,0,1.684211,1.684211

In [ ]:
from workflow.calcul_ATMO import ATMO_encoder

In [ ]:
df['ATMO_2'] = df['ATMO'].apply(ATMO_encoder)

In [ ]:
df['ATMO_2'].unique()